<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/assets/image/logo2-removebg-preview.png}">
    <link rel="stylesheet" th:href="@{/parent/css/parenthome.css}">
    <link rel="stylesheet" th:href="@{/parent/css/childprofile.css}">
    <link rel="stylesheet" th:href="@{/parent/css/childregister.css}">

    <title>YS ChildCare</title>
</head>

<body>
<form th:action="@{/teacher/teacherProfile?id={id}(id=${Teacher.accountId})}" method="post">
    <div class="wrapper">
        <div class="home">
            <div class="left-side-menu">
                <div class="vertical-menu">
                    <div class="user-welcome">
                        <img class="user-img" src="/parent/img/userImg/dummy-user-img.png"
                             style="width: 80px; height: 80px;" alt="">
                        <p th:text="${Teacher.firstName}"></p>
                    </div>
                    <div class="menu-item-container">
                        <ul class="item-lists">
                            <li class="menu-item ">
                                <a th:href="@{/teacher/homeTeacher}">Home</a>
                            </li>
                            <li class="menu-item current1">
                                <a th:href="@{/teacher/teacherProfile}">Teacher Information</a>
                            </li>
                            <li class="menu-item">
                                <a th:href="@{/teacher/viewStudent}">View student</a>
                            </li>
                        </ul>
                    </div>
                    <div style="border-top: 3px solid gray;"></div>
                    <div style="position: absolute;margin-top: 1vh; margin-left: 40px">
                        <input type="button" class="log-out_button"
                               onclick="window.location.replace('/home/logoutSuccessful')" value="Log out"/>
                    </div>
                </div>
            </div>

            <div class="right-side">
                <div class="page-content">
                    <div class="kid-profile">
                        <div class="kid-profile_header">

                            <div class="img-section">
                                <img src="@{/parent/img/userImg/dummy-user-img.png}" alt="">
                            </div>

                            <div class="personel-section">
                                <h1>${sessionScope.account.firstName} ${sessionScope.account.lastName}</h1>
                                <p>${sessionScope.account.dob}</p>
                            </div>
                        </div>


                        <div class="kid-profile_content">
                            <div class="class content-item">
                                <div class="item-title">
                                    <strong>First Name</strong>

                                </div>
                                <th:c:set var="parent"/>
                                <!--              <p class="parent-infor">${account.firstName}</p>-->
                                <div class="parent-infor" th:text="${Teacher.firstName}"></div>

                            </div>
                            <div class="content-item phone">
                                <div class="item-title">
                                    <strong>Last Name</strong>

                                </div>
                                <th:c:set var="parent"/>
                                <!--              <p class="parent-infor">${account.lastName}</p>-->
                                <div class="parent-infor" th:text="${Teacher.lastName}"></div>
                            </div>
                            <div class="content-item phone">

                                <div class="item-title">
                                    <strong>Date of birth</strong>

                                </div>
                                <!--              <p class="parent-infor">${account.dob}</p>-->
                                <div class="parent-infor" th:text="${Teacher.dob}"></div>


                            </div>
                            <div class="content-item address">
                                <div class="item-title">
                                    <strong>Gender</strong>
                                </div>
                                <th:c:if test="${Teacher.gender  == true}">
                                    <p class="parent-infor">Male</p>
                                </th:c:if>
                                <th:c:if test="${Teacher.gender == false}">
                                    <p class="parent-infor">Female</p>
                                </th:c:if>
                            </div>
                            <div class="content-item address">
                                <div class="item-title">
                                    <strong>Phone</strong>

                                </div>
                                <th:c:set var="parent"/>
                                <!--              <p class="parent-infor">${account.phoneNumber}</p>-->
                                <div class="parent-infor" th:text="${Teacher.phoneNumber}"></div>

                            </div>
                            <div class="content-item description">
                                <div class="item-title">
                                    <strong>Address</strong>

                                </div>
                                <th:c:set var="parent"/>
                                <!--              <p class="parent-infor">${account.address}</p>-->
                                <div class="parent-infor" th:text="${Teacher.address}"></div>
                            </div>
                            <div class="content-item address">
                                <div class="item-title">
                                    <strong>Email</strong>

                                </div>
                                <th:c:set var="parent"/>
                                <!--              <p class="parent-infor">${account.email}</p>-->
                                <div class="parent-infor" th:text="${Teacher.email}"></div>

                            </div>
                            <!--                                <div class="content-item address">
                                                                <div class="item-title">
                                                                    <strong>Profile Picture</strong>
                                                                </div>
                                                                <p class="parent-infor">${account.img}</p>

                                                            </div>-->
                            <div class="mb-6" style="margin-top: 30px; margin-bottom: 30px; padding-left: 300px ">
                                <a href="@{/teacher/update?id=6}">
                                    <input type="submit" class="button" value="Update profile"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
</body>
<script>
    window.onload = function () {
        var patharr = location.pathname.split("/");
        var fileName = patharr[3];
        var options = document.getElementById('options');
        var links = options.getElementsByTagName("a");
        // alert(links.length);
        for (i = 1; i < links.length; i++) {
            if (links[i].getAttribute("href").indexOf(fileName) > -1) {
                links[i].parentNode.className = 'current';
            }
        }
    };
</script>

</html>

